.card-profile-rides {
  margin-bottom: 30px;
  margin-left: 100px;
  padding: 30px;
  width: 700px;
  height: 300px;
}

.profile-page {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
}

.page-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 25px;
  margin-left: 90px;
}

.tables {
  display: flex;
  flex-direction: column;
}