.companions-page {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 700px;
  width: 800px;
}

.companions-page-card {
  margin-bottom: 30px;
  margin-left: 100px;
  padding: 30px;
  width: 800px;
  height: 800px;
}