.card-upload {
  margin-bottom: 30px;
  margin-left: 100px;
  padding: 30px;
  width: 65px;
  height: 20px;
  color: cornflowerblue;
  border: 3px dashed green;
}

.create-ride-block {
  width: 200px;
  margin-left: 100px;
}