.card-statistics {
  margin-bottom: 30px;
  margin-left: 100px;
  padding: 30px;
  width: 600px;
}

.stats-page {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
}

.page-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 90px;
}

.download-button {
  margin-left: 120px;
  width: 80%
}